.card {
  max-width: 940px;
}
.seller {
  display: flex;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  .item--name {
    width: 100%;
    mat-form-field {
      width: 100%;
    }
  }
  .item--values {
    display: flex;
    gap: 10px;
    mat-form-field {
      max-width: 95px;
    }
  }
}

@media (max-width: 600px) {
  .seller {
    flex-direction: column;
    mat-form-field {
      width: 100%;
    }
  }
}
