html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Custom Snackbar Styles */
.snackbar-success {
  background-color: #4caf50; /* Green */
  color: white;
}

.snackbar-error {
  background-color: #f44336; /* Red */
  color: white;
}

// You might need to target the button inside the snackbar if you want to style it too
